  <div class="jumbotron">
    <div class="container">
        <img src="{{data.img}}" alt="blog image" height="200px" width="200px">
        <h1>{{data.title}}</h1>
        <span class = "author">By: {{data?.User?.email}}</span>
        <p>{{data.content}}</p>
        <div>
            <div></div>
            <div></div>
        </div>
        <span class="badge first-badge"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
        <span class="badge"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></span>
    </div>
  </div>