// comment
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header-container, .footer-container , .body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

