<div class="wrapper">
    <div class="login-container">
        <div class="login-form-container">
            <h3><a href = "https://test-admin-cep-batch-3-a33.auth.us-east-1.amazoncognito.com/login?client_id=38u71cvm7cuocrrjab7v31d7cm&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=https://dtufxwaslylj1.cloudfront.net/admin">Admin Login </a></h3>
            <h3><a href = "https://test-cep-batch-3-a33.auth.us-east-1.amazoncognito.com/login?client_id=1n66cmohcp9qjje5s61l2lsg1h&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=https://dtufxwaslylj1.cloudfront.net/home">Student Login</a></h3>
        </div>
    </div>
</div>