<div class="container-fluid blog-page">
	<div class="block-header" *ngIf="isloggedIn">
		<div class="row clearfix">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
						(click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a> Blog List</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin/blogs/blog-list']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Blog</li>
					<li class="breadcrumb-item active">Blog List</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-4 col-sm-12 text-right">

			</div>
		</div>
	</div>

	<div class="row clearfix" > 
		
		<div class="col-lg-12 col-md-12 left-box" 	 [ngStyle]="isloggedIn ? {'margin-top': '10px'} : {'margin-top': '110px'}">
			<div class="card single_post" *ngFor="let item of pageOfItems ; let i = index" >
				<!-- <div class="card single_post" *ngFor="let item of blogsList; let i = index "> -->
				<div class="." >
					<div class="img-post">
						<img class="d-block img-fluid" src="{{item.imageUrl}}" alt="First slide">
					</div>
					<h3>
						<a *ngIf="isloggedIn"
							[routerLink]="['/admin/blogs/blog-details/', item.postId]">{{item.summary}}</a> 
						
						<a *ngIf="!isloggedIn" [routerLink]="['/blogs/blog-details/', item.postId]">{{item.summary}}</a>
					</h3>
					<div [innerHtml]="item.content | safeHtml"></div>
				</div>
				<div class="footer">
					<div class="actions" *ngIf="isloggedIn">
						<a href="javascript:void(0);" class="btn btn-outline-secondary"
							[routerLink]="['/admin/blogs/blog-details/', item.postId]">Continue Reading</a>
					</div>
					<div class="actions" *ngIf="!isloggedIn">
						<a href="javascript:void(0);" class="btn btn-outline-secondary"
							[routerLink]="['/blogs/blog-details/', item.postId]">Continue Reading</a>
					</div>
					<ul class="stats">
						<li><a href="javascript:void(0);">CreatedBy :- {{item.userName}}</a></li>
						<li><a href="javascript:void(0);">General</a></li>
						<li><a href="javascript:void(0);" (click)="increasePostLike(item.postId, i)"
								class="icon-heart">{{item.likeCount}}</a></li>
						<li><a href="javascript:void(0);" class="icon-eye">{{item.viewsCount}}</a></li>
					</ul>
				</div>
				<!-- </div> -->
			</div>
			<!-- <div class="card single_post" *ngFor="let blog of blogsList; let i = index ">
				<div class="body">
					<div class="img-post">
						<img class="d-block img-fluid" src="{{blog.imageUrl}}" alt="First slide">
					</div>
					<h3>
						<a *ngIf="isloggedIn" [routerLink]="['/admin/blogs/blog-details/', blog.postId]">{{blog.summary}}</a>
						<a *ngIf="!isloggedIn" [routerLink]="['/blogs/blog-details/', blog.postId]">{{blog.summary}}</a>
					</h3>					
					<div [innerHtml]="blog.content | safeHtml"></div>
				</div>
				<div class="footer">
					<div class="actions" *ngIf="isloggedIn">
						<a href="javascript:void(0);" class="btn btn-outline-secondary" [routerLink]="['/admin/blogs/blog-details/', blog.postId]">Continue Reading</a>
					</div>
					<div class="actions" *ngIf="!isloggedIn">
						<a href="javascript:void(0);" class="btn btn-outline-secondary" [routerLink]="['/blogs/blog-details/', blog.postId]">Continue Reading</a>
					</div>
					<ul class="stats">
						<li><a href="javascript:void(0);">General</a></li>
						<li><a href="javascript:void(0);" (click)="increasePostLike(blog.postId, i)" class="icon-heart">{{blog.likeCount}}</a></li>
						<li><a href="javascript:void(0);" class="icon-eye">{{blog.viewsCount}}</a></li>
					</ul>
				</div>
			</div> -->

			<div class="">
				<div class="card-body">

				</div>
				<div class="card-footer pb-0 pt-3">
					<jw-pagination [items]="blogsList" (changePage)="onChangePage($event)"></jw-pagination>
				</div>
			</div>
		</div>
	</div>

</div>