<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="assets/images/avatar6.jpg" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown" ngbDropdown>
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" ngbDropdownToggle><strong>{{login_user_name}}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account" ngbDropdownMenu>
                    <!-- <li><a [routerLink]="['/admin/pages/page-profile2']"><i class="icon-user"></i>My Profile</a></li>
                    <li><a [routerLink]="['/admin/app/app-inbox']"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li> -->
                    <li><a [routerLink]="['/signout']"><i class="icon-power"></i>Sign Out</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}" (click)="changeNavTab('menu')">Menu</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">                       
                        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a [routerLink]="['/admin/dashboard/index']">Dashboard</a>
                        </li> -->
                        <li *ngIf="isReviewer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'reviewPost'}">
                            <a [routerLink]="['/admin/reviewPost']">Review Post</a>
                        </li>

                        <li [ngClass]="{'active':currentActiveMenu == 'blogs'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('blogs')"><i class="icon-globe"></i>
                                <span>Blog</span></a>
                            <ul *ngIf="currentActiveMenu == 'blogs'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/blogs/blog-post']">New Post</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/blogs/my-blogs']">My Blogs</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/blogs/blog-list']">All Blogs</a></li>
                                <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/blogs/blog-details']">Blog Details</a></li> -->
                            </ul>
                        </li>
                        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'ui-elements'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('ui-elements')"><i class="icon-diamond"></i>
                                <span>UI Elements</span></a>
                            <ul *ngIf="currentActiveMenu == 'ui-elements'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/typography']">Typography</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-tabs']">Tabs</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-buttons']">Buttons</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-bootstrap']">Bootstrap
                                        UI</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-icons']">Icons</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-notifications']">Notifications</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-colors']">Colors</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-list-group']">List
                                        Group</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-media-object']">Media
                                        Object</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-modal']">Modals</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/ui-elements/ui-progressbars']">Progress
                                        Bars</a></li>
                            </ul>
                        </li> -->

                        <!-- <li [ngClass]="{'active':currentActiveMenu == 'widgets'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('widgets')"><i class="icon-puzzle"></i>
                                <span>Widgets</span></a>
                            <ul *ngIf="currentActiveMenu == 'widgets'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                        [routerLink]="['/admin/widgets/widgets-data']">Data</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                        [routerLink]="['/admin/widgets/widgets-weather']">Weather</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                        [routerLink]="['/admin/widgets/widgets-blog']">Blog</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                        [routerLink]="['/admin/widgets/widgets-ecommerce']">eCommerce</a></li>
                            </ul>
                        </li>
                        
                        <li [ngClass]="{'active':currentActiveMenu == 'authentication'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('authentication')"><i class="icon-lock"></i>
                                <span>Authentication</span></a>
                            <ul *ngIf="currentActiveMenu == 'authentication'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-login']">Login</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-register']">Register</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-lockscreen']">Lockscreen</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-forgot-password']">Forgot Password</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-404']">Page 404</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-403']">Page 403</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-500']">Page 500</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-503']">Page 503</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'pages'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('pages')"><i class="icon-docs"></i> <span>Pages</span></a>
                            <ul *ngIf="currentActiveMenu == 'pages'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-blank']">Blank
                                        Page</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-profile']">Profile
                                        <span class="badge badge-default float-right">v1</span></a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-profile2']">Profile
                                        <span class="badge badge-warning float-right">v2</span></a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-gallery']">Image
                                        Gallery</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-timeline']">Timeline</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-pricing']">Pricing</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-invoices']">Invoices
                                        <span class="badge badge-default float-right">v1</span></a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-invoices2']">Invoices
                                        <span class="badge badge-warning float-right">v2</span></a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-search-results']">Search
                                        Results</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-helper-class']">Helper
                                        Classes</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-teams-board']">Teams
                                        Board</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-projects-list']">Projects
                                        List</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/authentication/page-maintanance']">Maintanance</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-testimonials']">Testimonials</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/pages/page-faq']">FAQ</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'forms'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('forms')"><i class="icon-pencil"></i>
                                <span>Forms</span></a>
                            <ul *ngIf="currentActiveMenu == 'forms'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                        [routerLink]="['/admin/forms/forms-validation']">Form Validation</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/forms/forms-basic']">Basic Elements</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'tables'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('tables')"><i class="icon-tag"></i> <span>Tables</span></a>
                            <ul *ngIf="currentActiveMenu == 'tables'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/tables/table-normal']">Normal
                                        Tables</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>