<div class = "header">
    <div class = "header-title">CEP-72 Blogs</div>
    <div class = "header-tabs">
        <button  *ngIf="(!userStatus ||userStatus=='false')&& userStatus!='true'" class="button" style="margin: 10px;" routerLink="/signup">Register</button>
        <button   *ngIf="(!userStatus ||userStatus=='false')&& userStatus!='true'" class="button" style="margin: 10px;" routerLink="/signin">Login</button>
        
    </div>
    <div class = "header-logout">
        <button *ngIf="userStatus=='true'"(click)="onLogout()">Log out</button>
    </div>
</div>
